@font-face { font-family: Quagent; src: url("../fonts/Quagent-Regular.ttf"); }
body {
	 background: url("../images/playstation-pattern.png");
}	.jumbotron {background: url("../images/playstation-pattern.png");
				font-family: Quagent; sans-serif;}

p {
	margin-bottom:-3px;
}

button {
	margin-right:5px;
	margin-bottom:7px;

}

#button-view {
	margin:auto;
}



.container-fluid {

	display:inline-block;
}
.gif {
	max-width:300px;
	display:inline-block;
}

#gif-input {
	width:500px;
}

#add-gif {

}